@charset "UTF-8";

* {margin :0; padding: 0;}
html, body {width: 100%;}
a {text-decoration:none; color:black;}
ul {list-style-type: none;}
h4 {font-size: 3em;}
h5 {font-size: 2em;}
h6 {font-size: 1.5em;}
#wrap {border-top: 1px solid Gainsboro; width: 100%; height: 100%;}

#ribbon {width: 100%; height: 50px; background-color: FloralWhite;}
#rtitle {width: 100%; height: 30px; box-sizing: border-box; padding: 10px 0; text-align: center;}

#ovtitle {width: 75%; height: 200px; box-sizing: border-box; padding: 65px 0; margin: 0 auto;}
#ovtitle span {color: grey;}

.menulist {width: 90%; height: 200px; margin: 0 auto; text-align: center;}
.menulist > li {display: inline-block;}
.menulist button {width: 150px; height: 150px; border-radius: 40px; border: 0; background-color: AliceBlue; font-size: 20px; box-sizing: border-box; margin: 0 10px; vertical-align: top;}
.menulist button:hover {cursor: pointer; color: #ffffff; background-color: #000000;}
.ready {color: Gainsboro; pointer-events: none;}
#hidbtn {visibility: hidden;}

.wrap {width: 75%; height: 500px; margin: 70px auto;}
.title {width: 75%; height: 60px; margin: 15px 0;}
span {color: Bisque;}
ul > li {display: inline-block;}
.button {width: 300px; height: 400px; background-color: white; border-radius: 20px; border: 1px Bisque solid; font-size: 10px; box-sizing: border-box; margin: 0 10px; vertical-align: top; position: relative;}
.more {width: 200px; height: 200px; left: 50px; top: 180px; text-align: center; vertical-align: middle; position: absolute; z-index: 2; font-size: 10px;}
.more > a {font-weight: bold;}
.opacity{opacity: 0.2;}
.hidden {display: none;}
ul > h6 {position: absolute; z-index: 1; bottom: 40px; right: 10px; left: 10px;}
ul > img {position: absolute; z-index: 1; top: 35px; left: 25px;}